.story-cover .story-cover-content h1 {
  font-size: 65px;
  line-height: 66px;
  color: #fff;
  text-shadow: 1px 1px 7px rgba(0,0,0,.9);
  display: block;
  text-align: center;
  text-transform: none;
  margin-bottom: 5px;
  font-weight: 200;
  color: #6887BD; 
  margin-bottom:10px;

}
.story-cover .story-cover-content {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.imgheader {

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px; 
	margin-top:200px;
}

.bodytext p {
font-size: 10px

}

.section-story {
	/*margin-top:200px;*/

}

.section-story p.lead{
	text-align:left;
}

#profile {
	position: relative;	
}
/*<div style="position: relative">
     <img src="imageurl.jpg" />
     <p style="position: absolute; bottom: 0px;>test test test</p>
</div>*/

.credit {
	font-size: 0.6em;
}
.profile img {
	margin-bottom: 25px;
}

#tile2 {
	margin-top: 20px; 
	opacity: 1;
	text-align: center;
	width: 100%;
	margin-bottom: 70px; }



.byline {
	font-family: "Source Sans Pro";
	font-size: 12px;
	margin-top: -0px;
	margin-bottom: 0px;
}

#figcaption {
	text-align: center
}



.lead {
	text-align: center;

}

.deck {

	text-align: center;
	font-family: "Libre Baskerville";
	font-size: 25px; 
	line-height: 40px; 
	margin-bottom: 100px; 
}



#deckquote p {

text-align: center;
margin-top: -50px;
	font-family: "Source Sans Pro"; 
	font-weight: 200; 
	text-align: center;
	color: #3CB371;  
	font-size: 50px;
	line-height: 120%;
	margin-bottom:35px;
	font-style: italic;

}
@media (max-width: 600px) {
	#deckquote p {
		font-size: 36px;
		line-height:38px;
	}
}

.section-story blockquote p {
	margin-top: 30px;
	font-family: "Source Sans Pro"; 
	font-weight: 200; 
	text-align: right;
	font-style: italic;
	margin-bottom: 25px;
	color: #990000; 
	font-size: 35px;
	line-height: 120%;
	margin-bottom:0;

}
/*blockquote p:after {
	display:none;
}

*/
.section-story blockquote p:before {
	font-size:72px;
	font-weight:900;
	line-height:0px;
	bottom:-15px;
	margin-right:5px;
	display:inline-block;
	position:relative;

}

#profilequotecarlos p {

	color: #990000; 

 }

#profilequotecarlos p:before, #profilequotecarlos p:after{

	color: #990000;  

 }

 #profilequotemelanie p {

	color: #663399;  

 }

  #profilequotemelanie p:before, #profilequotemelanie p:after{

	color: #663399;  

 }

 #profilequotepatrick p {

	color: #0099FF;  

 }

 #profilequotepatrick p:before, #profilequotepatrick p:after{

	color: #0099FF;  

 }

#profilequotejody p {

	color: #CC3300; 

 }

  #profilequotejody p:before, #profilequotejody p:after{

	color: #CC3300;  

 }



 #profilefact p {
	margin-top: 30px;
	font-family: "Source Sans Pro"; 
	font-weight: 200; 
	text-align: left;
	font-style: italic;
	margin-bottom: 25px;
	color: #808080;
	font-size: 35px;
	line-height: 120%;
}

 #profilefact img {

 	opacity: 1;
	text-align: right;
	width: 200%;
	margin-bottom: 25px;

 }

margin-top: 30px;
	width: 100%;
	text-align: right;
	font-style: italic;
	margin-bottom: 25px;
	color: #3CB371  ;
	font-size: 30px;
	line-height: 120%;


.stop { width: 1000}


/*!
	Profile Nav
*/
.profile-nav a.profile-button {
  height: 250px;
}
.profile-nav a.profile-button .profile-button-background {
  height: 250px;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.profile-nav a.profile-button h2,
.profile-nav a.profile-button h3,
.profile-nav a.profile-button p {
  opacity: 0;
  display: none;
}
.profile-nav a.profile-button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
}
.profile-nav a.profile-button:hover .profile-button-background {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .33;
}
.profile-nav a.profile-button:hover .profile-button-container {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.profile-nav a.profile-button:hover h3,
.profile-nav a.profile-button:hover p {
  opacity: 1;
  display: block;
  color: #FFF;
}
.profile-nav a.profile-button:hover p {
  font-size: 18px;
  line-height: 20px;
}
.profile-nav.profile-nav-sticky a.profile-button {
  border-top: 0;
  height: 52px;
  border-bottom: 1px solid #CCC;
}
.profile-nav.profile-nav-sticky a.profile-button .profile-button-background {
  height: 52px;
  opacity: .2;
}
.profile-nav.profile-nav-sticky a.profile-button h2 {
  font-size: 16px;
  line-height: 16px;
  display: block;
  opacity: 1;
}
.profile-nav.profile-nav-sticky a.profile-button p {
  display: none;
}
.profile-nav.profile-nav-sticky a.profile-button.profile-button-active .profile-button-background {
  opacity: .5;
}
.profile-nav.profile-nav-sticky:hover a.profile-button {
  height: 200px;
}
.profile-nav.profile-nav-sticky:hover a.profile-button .profile-button-background {
  opacity: 1;
}
.profile-nav.profile-nav-sticky:hover a.profile-button p {
  display: none;
}
.profile-nav.profile-nav-sticky:hover a.profile-button h2 {
  opacity: 0;
}
.profile-nav.profile-nav-sticky:hover a.profile-button h3 {
  opacity: 0;



}